services:
  perplexica:
    image: itzcrazykns1337/perplexica:latest
    build:
      context: .
    ports:
      - '3000:3000'
    volumes:
      - data:/home/perplexica/data
    restart: unless-stopped
    depends_on:
      - searxng

  searxng:
    image: searxng/searxng:latest
    ports:
      - '4000:8080'
    volumes:
      - ./searxng-settings.yml:/etc/searxng/settings.yml
    restart: unless-stopped

volumes:
  data:
    name: 'perplexica-data'
